/*body*/
.body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* nav bar */
.nav {
    background-color: #333;
    overflow: hidden;
}

/* navigation bar links */
.nav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
    /* text-align: center; */
    /* text-decoration: line; */
}

/* color hover links */
.nav a:hover {
    background-color: darkorange;
    color: white;
}

/* hero */
.hero h1 {
    margin: 1%;
    font-size: 48px;
    color: darkblue;
}

.hero {
    margin-left: 80px;
    float: left;
    font-style: italic;
    font-size: large;
}
/* main */
.main {
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    color: darkblue;
}

.main h2 {
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
}

.about-me-text {
    display: flex;
    margin-top: 60px;
    text-align: center;
}

.work-title-container {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 50px;
    align-items: stretch;
    justify-content: center;
}

.work-project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    width: 30%;
    text-align: left;
}

/* Resume */
.resume-text-container {
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: darkorange; 
}

/*footer*/
#contact-info {
    display: flex;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: darkorange;
}

.info-text-container {
    font-size: 16px;
    padding: 5px;
    width: 30%;
    text-align: left;
    width: 250px;
}

.contact-info-list {
    width: 70%;
    height: 100px;
    list-style-type: none;
    line-height: 1.3;
}

.phone-number h3,
.email h3 {
    font-size: 16px;
    text-decoration: underline;
    padding: 0 10px 0 10px;
    width: 175%;
}

.github a,
.linkedin a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px 0 10px;
    margin-bottom: 3px;
}
